<div class="total-content">
    <h3>Confirme as informações <i class="bi bi-arrow-left-right pl-2"></i></h3>

    <div class="total-box">


        <div class="account-details d-flex flex-column">
            <div class="one">
                <h2>conta de origem</h2>
                <div class="main d-flex flex-column w-25 pt-2">
                    <p>conta</p>
                    <p class="information">{{accountNumber}}</p>
                </div>
            </div>

            <div class="two">
                <h2>conta de destino</h2>
                <div class="main account d-flex flex-column w-25 pt-2">
                    <p>conta</p>
                    <p class="information">{{payload.to}}</p>
                </div>
            </div>

            <div class="three">
                <div class="main d-flex flex-column w-25">
                    <p>valor</p>
                    <p class="information">{{payload.amount}}</p>
                </div>
            </div>


            <div class="four">
                <div class="main d-flex flex-column w-25">
                    <p>descrição</p>
                    <p class="information">{{payload.description}}</p>
                </div>
            </div>

            <div class="buton pt-1 d-flex">
                <button  (click)="goToNextStep()">Confirmar</button>
                <button (click)="goBackClicked()">Voltar</button>
            </div>

        </div>

    </div>


</div>