:host {

}

.credit-card {
  background-color: var(--orange-light);
  max-width: 300px;
  width: 100%;
}

.btn-settle {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--orange-light);
}

/* @media 768 {

} */
