<div class="col-md-12">
 <app-navbar [navbarButton]="navbarButton" [navButtonRoute]="route"/>
    <main class="m-0 d-flex flex-column overflow-x-hidden ">

         <div style="margin: 0 !important;"  class="img-home"> </div>

         <div class="w-100 d-flex gap-4 mt-5 mb-5 flex-wrap flex-lg-nowrap justify-content-around ms-2 me-2 mb-4">
             <div class="text-center">
            <h3>Prepare-se para decolar com o <br>
                 Apollo Bank </h3>
         </div>
         <div routerLink="/register" class="button-open mt-1 p-3 mb-3 float-left">
            <button  class="btn btn-default mb-3 justify-content-center">Abra sua conta</button>
         </div>

         </div>

         <section class="section-one-container">
            <div class="section-one d-flex justify-content-center align-items-center">
               <img class="photocard" src="/assets/images/update-cartao.png" alt="Pessoa segurando um cartao">
               <div class="container-texts d-flex justify-content-center flex-column align-items-center">
                  <h2 class="h2">Conheça nosso cartão de crédito</h2>
                  <p class="p-text">Astronômica aqui só as vantagens, porque a taxa de juros está lá embaixo!</p>

               </div>
            </div>
         </section>

         <section class="section-two">
            <div class="traveling">
               <div class="main-container d-flex flex-column  align-items-center">
                     <h2>Aproveite nosso plano de milhas</h2>
                     <p>Temos opções: de quem ama muito viajar a <br> quem só quer tirar uns dias de férias!</p>
               </div>
            </div>



         </section>

         <app-footer />


   </main>


