<div class="total-content d-flex flex-column justify-content-center pl-2">

    <h3>Transferência realizada com sucesso!</h3>

    <div class="total-box d-flex flex-column">
        <p class="pl-2">R$ {{payload.amount}}</p>

        <div class="from pl-2">
            <p class="blue-letter">de</p>
            <p>{{payload.from}}</p>
        </div>

        <div class="to pl-2">
            <p class="blue-letter">para</p>
            <p>{{payload.to}}</p>
        </div>


        <div class="date pl-2">
            <p class="blue-letter">realizada em</p>
            <p>{{payload.date.toLocaleDateString()}}</p>
        </div>

        <p class="blue-letter pl-2">via ApolloBank</p>

    </div>

    <div class="buton pt-1 d-flex">

        <button (click)="addTransaction()">Nova transação</button>
    </div>


</div>
