<div class="total-content">
    <h3>Confirme as informações de agendamento <i class="bi bi-calendar2-week pl-2"></i></h3>

    <div class="total-box">
        

        <div class="account-details d-flex flex-column">
            <div class="one">
                <h2>conta de origem</h2>
                <div class="main d-flex flex-column w-25 pt-2">
                    <p>conta</p>
                    <p class="information">22587</p>
                </div>
            </div>
    
            <div class="two">
                <h2>conta de destino</h2>
                <div class="main account d-flex flex-column w-25 pt-2">
                    <p>conta</p>
                    <p class="information">145145</p>
                </div>
            </div>

            <div class="three">
                <div class="main d-flex flex-column w-25">
                    <p>valor</p>
                    <p class="information">R$4.00</p>
                </div>
            </div>
    
    
            <div class="four">
                <div class="main d-flex flex-column w-25">
                    <p>descrição</p>
                    <p class="information">jdadjaslkdjalksjdalsd</p>
                </div>
            </div>

            <div class="five">
                <div class="main d-flex flex-column w-25">
                    <p>data agendada</p>
                    <p class="information">14/04/2024</p>
                </div>
            </div>
    
    
            <div class="buton pt-1 d-flex">
            <button type="submit" (click)="goToSuccessStep()">Confirmar</button>
            <button (click)="goBack()">Voltar</button>
            </div>
            
        </div>

    </div>


</div>
