<div class="section">
    <app-navbar-conta></app-navbar-conta>
    <div class="row m-0 mt-4">
        <div class="col-md-6 d-flex justify-content-center align-items-center mt-5">
            <div class="action d-flex align-items-center flex-wrap justify-content-center">
                <button routerLink="/transactions" class="d-flex flex-column align-items-center">
                    <i class="bi bi-bar-chart-line"></i>
                    Extrato.
                </button>
                <button class="d-flex flex-column align-items-center" (click)="openModal('saque')">
                    <i class="bi bi-cash-coin"></i>
                    Saque
                </button>
                <button class="d-flex flex-column align-items-center" (click)="openModal('pix')">
                    <i class="bi bi-x-diamond-fill"></i>
                    Pix
                </button>
                <button (click)="openModal('transferencia')" class="d-flex flex-column align-items-center">
                    <i class="bi bi-arrow-left-right"></i>
                    Transferência
                </button>

                <button class="d-flex flex-column align-items-center" (click)="openModal('deposito')">
                    <i class="bi bi-arrow-down-right-square"></i>
                    <span>Depósito</span>
                </button>
                <button routerLink="/credit-cards" class="d-flex flex-column align-items-center">
                    <i class="bi bi-credit-card"></i>
                    <span>Crédito</span>
                </button>
            </div>
        </div>



        <div class="modal fade" #depositModel tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-3" id="exampleModalLabel">Depósito</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="custom-btn" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <app-modals class="modals-total" [modalTitle]="'Transferência'" [isOpen]="isOpen === 'transferencia'"
            (closed)="closeModal()" *ngIf="isOpen === 'transferencia'">
            <app-modals-transfer></app-modals-transfer>
        </app-modals>

        <app-modals class="modals-total" [modalTitle]="'Saque'" [isOpen]="isOpen === 'saque'" (closed)="closeModal()"
            *ngIf="isOpen === 'saque'">
            <app-modals-withdraw></app-modals-withdraw>
        </app-modals>

        <app-modals class="modals-total" [modalTitle]="'Depósito'" [isOpen]="isOpen === 'deposito'"
            (closed)="closeModal()" *ngIf="isOpen === 'deposito'">
            <app-modals-deposit></app-modals-deposit>
        </app-modals>

        <app-modals class="modals-total" [modalTitle]="'Pix'" [isOpen]="isOpen === 'pix'" (closed)="closeModal()"
            *ngIf="isOpen === 'pix'">
            <app-modals-pix></app-modals-pix>
        </app-modals>


        <div class="transacoes col-md-6 d-flex flex-column align-items-center">

            <a routerLink="/transactions"
                class="text-decoration-none transacoes-view d-flex align-items-center justify-content-between w-75">
                <h2>Últimas Transações</h2>
                <i class="bi bi-chevron-right"></i>
            </a>
            <table>
                <tr *ngFor="let transactions of lastTransactions">
                    <td><i class="bi bi-arrow-bar-{{transactions.direction === 'O' ? 'down' : 'up'}}"></i></td>
                    <td class="">{{transactions.description}}</td>
                    <td [ngClass]="{
                      'text-danger': transactions.direction === 'I',
                      'text-success': transactions.direction === 'O'}">
                        R$ {{transactions.amount}}
                    </td>
                    <td>{{transactions.date | date: 'dd/MM'}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="cartao row w-75 mb-4">
                <h2 class="col-md-12">Cartão de Crédito</h2>
                <p>{{user.userName}}</p>
                <p>* * * * 3215</p>
                <div class="fatura col-md-6 text-center">
                    <span>Fatura Atual<br></span>
                    <span>R$</span>
                    <input disabled type="number" [style.width.px]="getInputWidth(fatura)" class="valor"
                        value="{{fatura.toFixed(2)}}" id="">
                </div>
                <div class="limite col-md-6 text-center">
                    <span>Limite Disponível<br></span>
                    <span>R$</span>
                    <input disabled type="number" [style.width.px]="getInputWidth(limite)" class="valor"
                        value="{{limite.toFixed(2)}}" id="">
                </div>
            </div>
        </div>
        <div class="col-md-6 opcoes d-flex flex-column align-items-center mb-4">
            <div class="options d-flex align-items-center justify-content-between w-75">
                <h2>Acesse as opções</h2>
                <i class="bi bi-chevron-right"></i>
            </div>
            <div class="opcoes-box d-flex flex-column align-items-center justify-content-center p-3 w-75">
                <button class="m-2 w-75">
                    <span>Programa de Pontos</span>
                    <i class="bi bi-chevron-right"></i>
                </button>
                <button class="m-2 w-75">
                    <span>Crédito Pessoal</span>
                    <i class="bi bi-chevron-right"></i>
                </button>
                <button class="m-2 w-75">
                    <span>Documentos</span>
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>

</div>
