<div class="total-content d-flex flex-column">
    <div class="origin-account">
        <h2>conta de origem</h2>
        <div class="account-number d-flex flex-column pt-2">
            <p>conta</p>
            <p>{{user.accountNumber}}</p>
        </div>
    </div>

    <form [formGroup]="transferForm" (ngSubmit)="onSubmit()" class="d-flex flex-column">
        <div class="one">
            <h2>conta de destino</h2>
            <div class="input-information d-flex flex-column  pt-2">
                <label>conta</label>
                <input type="text" placeholder="digite a conta" formControlName="conta" >
            </div>
        </div>

        <div class="two">
            <h2>quanto quer transferir?</h2>
            <div class="input-information d-flex flex-column  pt-2">
                <label>insira um valor</label>
                <input type="text" placeholder="digite um valor" formControlName="valor">
            </div>
        </div>


        <div class="three">
            <div class="input-information d-flex flex-column">
                <label>descrição</label>
                <input type="text" placeholder="insira uma descrição" formControlName="descricao">
            </div>
        </div>

        <div class="buton">
        <button type="submit" [disabled]="transferForm.invalid">Continuar</button>
        </div>

    </form>
</div>
