* {
    margin: 0;
    padding: 0;
}

.total-content{
    padding-top: 115px;
    gap: 5px;
}

.total-content h3{
    font-size: 1.5rem;
}


button{
   
    background-color: var(--laranja);
    color: #fff;
    border: none;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;   
    font-size: 0.9rem;
    min-width: 150px;
   

}