<div class="total-content d-flex flex-column">

    <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()" class="d-flex flex-column">
        <div class="one">
            <h2>conta de destino</h2>
            <div class="input-information d-flex flex-column w-25 pt-2">
                <label>conta</label>
                <input type="text" placeholder="digite a conta" formControlName="conta">
            </div>
        </div>

        <div class="two">
            <h2>quanto quer transferir?</h2>
            <div class="input-information d-flex flex-column w-25 pt-2">
                <label>insira um valor</label>
                <input type="text" placeholder="digite um valor" formControlName="valor">
            </div>
        </div>


        <div class="three">
            <h2>data de agendamento</h2>
            <div class="input-information d-flex flex-column w-25 pt-3">
                
                <input type="date" placeholder="insira uma data" formControlName="data">
            </div>
        </div>

        <div class="buton">
        <button type="submit" [disabled]="scheduleForm.invalid">Continuar</button>
        </div>
        
    </form>
</div>

