<div class="total-content d-flex align-items-center justify-content-center flex-column">
    <h3>A revolução das transações rápidas, seguras e sem fronteiras.</h3>


    <div class="icons d-flex flex-column">

        <div class="two-icons d-flex justify-content-center align-items-center">
            <i class="bi bi-arrow-left-right"(click)="onTransfer()"></i>
            <i class="bi bi-arrow-down-right-square" (click)="onDeposit()"></i>

        </div>

        <div class="third-icon d-flex justify-content-center align-items-center">
            <i class="bi bi-calendar2-week" (click)="onScheduling()"></i>
        </div>
    </div>

</div>